April 2014 - March 2018 Demographic Tables

https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-09-25/April-2014-March-2018-DATWT-Demographic-Tables.xlsx

In [1]:
from gssutils import *
scraper = Scraper('http://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/')
scraper

WARNING:Broken link to dataset data-tables2017.asp?id=2370#2370
WARNING:Broken link to dataset data-tables2017.asp?id=1894#1894
WARNING:Broken link to dataset data-tables2017.asp?id=1887#1887
WARNING:Broken link to dataset data-tables.asp?id=1508#1508
WARNING:Broken link to dataset data-tables.asp?id=1386#1386
WARNING:Broken link to dataset data-tables.asp?id=1318#1318
WARNING:Broken link to dataset data-tables.asp?id=1238#1238
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735

## Drugs and Alcohol Misuse

This is a catalog of datasets; choose one from the following:

* Estimating the Prevalence of Problem Drug Use in Scotland, 2015-16 Estimates
* Alcohol Related Hospital Statistics
* National Drug and Alcohol Treatment Waiting Times
* National Naloxone Programme Scotland Monitoring Report
* Provision of Injecting Equipment in Scotland, 2016/17 Report
* Scottish Drug Misuse Database Annual Report
* Alcohol Brief Interventions
* National Drug Related Death Database (Scotland) Report, Analysis of Deaths occurring in 2015 and 2016
* National Naloxone Programme Scotland Monitoring Report
		 -
* Drug-Related Hospital Statistics Scotland
* Alcohol Brief Interventions, 2016/17 LDP Standard Report
* Injecting Equipment Provision in Scotland 2015/16
* Scottish Drug Misuse Database: Overview of Initial Assessments for Specialist Drug
Treatment 2015/16
* National Naloxone Programme Scotland monitoring report
* Alcohol-Related Hospital Statistics
* Drug-Related Hospital Statistics
* Alcohol Brief Interventions 2015/16
* Injecting Equipment Provision in Scotland 2014/15
* Scottish Drugs Misuse Database: Annual Report
* National Drug Related Deaths Database (Scotland) Report
* National Naloxone Programme Scotland - Monitoring Report 2014/15
* Drug-Related Hospital Statistics Scotland 2014-15
* ScotPHO website Drugs sections update
* Scottish Drug Misuse Database (SDMD): Dashboard June 2015
* Provision of Injecting Equipment in Scotland
* National Drug Related Deaths Database (Scotland) Report 2013
* ScotPHO website Alcohol section update
* Alcohol-related hospital statistics 2013-14
* Drug-Related Hospital Statistics Scotland 2013/14
		 -
* Estimating the Prevalence of Problem Drug Use in Scotland
		 -
* ScotPHO website Drugs section update, HIV and Opiate Substitute Treatment update
* Alcohol Brief Interventions 2013-2014
* Scottish Drug Misuse Database (SDMD) Initial Assessment Report 2012/13
* National Naloxone Programme Scotland  naloxone kits issued in 2012/13 (revision)
* Provision of Injecting Equipment in Scotland 2012/13
* The National Drug Related Deaths Database (Scotland) Report 2012
* Drug-related hospital discharges
		 -
* Alcohol-related hospital discharges
* National Drug and Alcohol Waiting Times
* National Naloxone Programme Scotland  naloxone kits issued in 2012/13
		 -
* Alcohol Brief Interventions 2012-2013
* Provision of injecting equipment in Scotland 2011/12
* Drug-related Hospital Statistics Scotland 2011/12
* Alcohol-related Hospital Statistics Scotland 2011/12
		 -
* The National Drug Related Deaths Database (Scotland) report 2011
* Scottish Drug Misuse Database - overview of new individuals assessed
* Scottish Drug Misuse Database (SDMD) Report on People in Treatment 2011/12
* National Naloxone Programme Scotland - naloxone supply in 2011/12
		 -
* Injecting Equipment Provision in Scotland Survey 2010/11
* Alcohol Brief Interventions 2011 -12
* Drug Related Hospital Statistics 2011 (Hospital data relating to drug use in Scotland 2010/11)
* Alcohol Related Hospital Statistics 2012
* Drug Misuse Statistics Scotland 2011
* The National Drug Related Deaths Database Report (Scotland) 2010
* Estimating the prevalence of problem drug use in Scotland 2009/10
* Provision of Injecting Equipment in Scotland, 2009/10
* Alcohol Brief Interventions 2010/11
* National Drug Treatment Waiting Times
* Drug Treatment Waiting Times
* Alcohol Statistics Scotland 2011
* Drug Misuse Statistics Scotland 2010
* Drug Treatment Waiting Times Information Framework Report July - September 2010
* Alcohol Brief Interventions 2009/10
* Drug Treatment Waiting Times Information Framework Report January-March 2010

In [2]:
scraper.select_dataset(title='National Drug and Alcohol Treatment Waiting Times')
scraper

## National Drug and Alcohol Treatment Waiting Times

### Distributions

1. July - September 2018 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-12-18/July-September-2018-DATWT-Tables.xlsx))
1. July - September 2018 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-12-18/July-September-2018-DATWT-Prison-Tables.xlsx))
1. April - June 2018 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-09-25/April-June-2018-DATWT-Tables.xlsx))
1. April - June 2018 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-09-25/April-June-2018-DATWT-Prison-Tables.xlsx))
1. April 2014 - March 2018 Demographic Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-09-25/April-2014-March-2018-DATWT-Demographic-Tables.xlsx))
1. January - March 2018 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-06-26/January-March-2018-DATWT-Tables.xlsx))
1. January - March 2018 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-06-26/January-March-2018-DATWT-Prison-Tables.xlsx))
1. April 2013 - March 2018 Full Year Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-06-26/April2013-March2018-DATWT-Full-Year-Tables.xlsx))
1. April 2013 - March 2018 Full Year Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-06-26/April2013-March2018-DATWT-Full-Year-Prison-Tables.xlsx))
1. October - December 2017 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-03-27/October-December-2017-DATWT-Tables.xlsx))
1. October - December 2017 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2018-03-27/October-December-2017-DATWT-Prison-Tables.xlsx))
1. July - September 2017 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-12-19/July-September-2017-DATWT-Tables.xlsx))
1. July - September 2017 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-12-19/July-September-2017-DATWT-Prison-Tables.xlsx))
1. April - June 2017 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-09-26/April-June-2017-DATWT-Tables.xlsx))
1. April - June 2017 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-09-26/April-June-2017-DATWT-Prison-Tables.xlsx))
1. April 2013 - March 2017 DATWT Demographic Data ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-09-26/April2013-March2017-DATWT-Demographic-Data-Tables.xlsx))
1. January - March 2017 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-06-27/January-March-2017-DATWT-Tables.xlsx))
1. April 2013 - March 2017 DATWT Full Year Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-06-27/April2013-March2017-DATWT-Full-Year-Tables.xlsx))
1. January - March 2017 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-06-27/January-March-2017-DATWT-Prison-Tables.xlsx))
1. April 2013 - March 2017 DATWT Full Year Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2017-06-27/April2013-March2017-DATWT-Full-Year-Prison-Tables.xlsx))
1. July - September 2016 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-12-20/July-September-2016-DATWT-Tables.xlsx))
1. July - September 2016 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-12-20/July-September-2016-DATWT-Prison-Tables.xlsx))
1. April - June 2016 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-09-27/April-June-2016-DATWT-Tables.xlsx))
1. April - June 2016 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-09-27/April-June-2016-DATWT-Prison-Tables.xlsx))
1. April - June 2016 DATWT Demographic Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-09-27/April-June-2016-DATWT-Demographic-Data.xlsx))
1. January - March 2016 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-06-28/January-March-2016-DATWT-Tables.xlsx))
1. January - March 2016 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-06-28/January-March-2016-DATWT-Prison-Tables.xlsx))
1. April 2013 - March 2016 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-06-28/April2013-March2016-DATWT-Full-Year-Tables.xlsx))
1. April 2013 - March 2016 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-06-28/April2013-March2016-DATWT-Full-Year-Prison-Tables.xlsx))
1. October - December 2015 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-03-29/October-December-2015-DATWT-Tables.xlsx))
1. October - December 2016 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2016-03-29/October-December-2015-DATWT-Prison-Tables.xlsx))
1. July - September 2015 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-12-15/July-September-2015-DATWT-Tables.xlsx))
1. July - September 2015 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-12-15/July-September-2015-DATWT-Prison-Tables.xlsx))
1. April - June 2015 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-09-29/April-June-2015-DATWT-Tables.xlsx))
1. April - June 2015 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-09-29/April-June-2015-DATWT-Prison-Tables.xlsx))
1. April - June 2015 DATWT Demographic Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-09-29/April-June-2015-DATWT-Demographic-Tables.xlsx))
1. January - March 2015 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-06-30/January-March-2015-DATWT-Tables.xlsx))
1. January - March 2015 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-06-30/January-March-2015-DATWT-Prison-Tables.xlsx))
1. April 2013-March 2015-DATWT-Full-Year-Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-06-30/April2013-March2015-DATWT-Full-Year-Tables.xlsx))
1. April 2013-March 2015-DATWT-Full-Year-Tables - Prisons ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-06-30/April2013-March2015-DATWT-Full-Year-Prison-Tables.xlsx))
1. October-December 2014 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-03-31/October-December-2014-DATWT-Tables.xlsx))
1. October-December 2014 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2015-03-31/October-December-2014-DATWT-Prison-Tables.xlsx))
1. July-September  2014 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-12-16/July-September-2014-DATWT-Tables.xlsx))
1. July-September   2014 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-12-16/July-September-2014-DATWT-Prison-Tables.xlsx))
1. January-March 2014 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-06-24/January-March-2014-DATWT-Tables.xls))
1. January-March  2014 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-06-24/January-March-2014-DATWT-Prison-Tables.xls))
1. October-December 2013 DATWT Tables ([MS Excel Spreadsheet](http://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-03-25/October-December-2013-DATWT-Tables.xls))
1. October-December 2013 DATWT Prison Tables ([MS Excel Spreadsheet](http://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2014-03-25/October-December-2013-DATWT-Prison-Tables.xls))
1. April-June 2013 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2013-09-24/April-June-2013-DATWT-Tables.xls))
1. April-June 2013 DATWT Prison Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2013-09-24/April-June-2013-DATWT-PrisonTables.xls))
1. April 2012 - March 2013 DATWT Full Year Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2013-09-24/April-June-2013-DATWT-Full-Year-Tables.xls))
1. January - March 2013 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2013-06-25/January-March-2013-DATWT-Tables.xls?28166706))
1. October - December 2012 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2013-03-26/October-December-2012-DATWT-Tables.xls?96073580))
1. July - September 2012 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2012-12-18/July-September-2012-DATWT-Tables.xls?12151349))
1. April-June 2012 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2012-09-25/April-June-2012-DATWT-Tables.xls?55346752))
1. January - March 2012 DATWT Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2012-06-26/January-March-2012-DATWT-Tables.xls?66419316))
1. National Drug and Alcohol Treatment Waiting Times October to December 2011 - Tables ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2012-03-27/October-December-2011-DATWT-Tables.xls?87028724))
1. Prevalence-2009-10-tables.xls ([MS Excel Spreadsheet](https://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/2011-11-29/Prevalence-2009-10-tables.xls?40567673))

In [3]:
distribution = scraper.distribution(title='April 2014 - March 2018 Demographic Tables')
databaker_tabs = {tab.name: tab for tab in distribution.as_databaker()}
databaker_tabs.keys()

dict_keys(['List', 'Notes', 'Completed waits by age & gender', 'Non Anon Totals', 'Completed waits graph', 'Completed Waits % performance', 'Anonymous figures', 'Anon', 'Completed Total', '3wk performance data'])

Process these tabs using Databaker

In [4]:
tables = []
for tab_name, script in [
    ('Non Anon Totals', 'Table 1.ipynb'),
    ('3wk performance data', 'Table 2.ipynb')
]:
    tab = databaker_tabs[tab_name]
    %run "$script"
    tables.append(new_table)

Process these tabs using Pandas directly

In [5]:
tabs = distribution.as_pandas(sheet_name=None)
%run "Table3.ipynb"
tables.append(new_table)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [6]:
tidy = pd.concat(tables)
tidy.count()

Period          18401
Age             18401
Sex             18401
Trust           18401
Client          18401
Status          18401
Measure Type    18401
Value           18401
Unit            18401
dtype: int64

In [7]:
tidy = tidy[tidy['Client'] == 'Alcohol']

In [8]:
tidy['Client'] = tidy['Client'].map(
    lambda x: {
        'Alcohol' : 'alcohol'
        }.get(x, x))

In [9]:
tidy.count()

Period          6149
Age             6149
Sex             6149
Trust           6149
Client          6149
Status          6149
Measure Type    6149
Value           6149
Unit            6149
dtype: int64

In [10]:
tidy.head(2)

,Period,Age,Sex,Trust,Client,Status,Measure Type,Value,Unit
113,31st March 2017,AGALL,F,212,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients
121,31st March 2015,AGALL,F,212,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients

In [11]:
tidy['Period'] = str('government-year/') + (tidy['Period'].astype(str).str[-4:].astype(int)-1).astype(str)\
                + str('-')     + tidy['Period'].astype(str).str[-4:]

In [12]:
tidy['Age'].unique()

array(['AGALL', 'AG40_49', 'AGOver_50', 'AG0_29', 'AG30_39', 'AGAll'],
      dtype=object)

In [13]:
tidy['Age'] = tidy['Age'].map(
    lambda x: {
        'AGALL' : 'ag3', 
        'AG0_29' : 'ag3/0-29',
        'AG30_39': 'ag3/30-39' ,
        'AG40_49': 'ag3/40-49',
        'AGOver_50': 'ag3/50-plus',
        'AGAll' : 'ag3'
        }.get(x, x))

In [14]:
tidy['Measure Type'].unique()

array(['Count', 'Percentage'], dtype=object)

In [15]:
tidy['Unit'].unique()

array(['non-anon-clients', 'non-anon-clients-3-wks', 'completed-waits',
       'anon-clients'], dtype=object)

In [16]:
tidy['Trust'].unique()

array(['212', '213', '118', '120', '104', '135', '103', '412', '122',
       '215', '134', '200', '124', '117', '123', '106', '203', '119',
       '127', '130', '102', '132', '129', '126', '114', '209', '108',
       '133', '121', '111', '205', '131', '101', '128', '214', '107',
       '204', '206', '202', '110', '207', '290', '211', '230', '115',
       '210', '125', '218', '999'], dtype=object)

In [17]:
tidy.tail(2)

,Period,Age,Sex,Trust,Client,Status,Measure Type,Value,Unit
661,government-year/2014-2015,ag3,T,999,alcohol,Total number of anonymous clients,Count,6000.0,anon-clients
665,government-year/2013-2014,ag3,T,999,alcohol,Total number of anonymous clients,Count,7185.0,anon-clients

In [18]:
tidy.columns = ['Treatment Type' if x=='Client' else x for x in tidy.columns]

In [19]:
tidy.head()

,Period,Age,Sex,Trust,Treatment Type,Status,Measure Type,Value,Unit
113,government-year/2016-2017,ag3,F,212,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients
121,government-year/2014-2015,ag3,F,212,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients
129,government-year/2015-2016,ag3,M,213,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients
145,government-year/2014-2015,ag3,F,213,alcohol,Number of non-anonymous clients who have start...,Count,6.0,non-anon-clients
163,government-year/2015-2016,ag3,F,212,alcohol,Number of non-anonymous clients who have start...,Count,7.0,non-anon-clients

In [20]:
tidy = tidy[['Period','Age','Sex','Trust','Treatment Type','Measure Type','Value','Unit']]

In [21]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
tidy.to_csv(out / 'observations.csv', index = False)

**Todo: Some metadata in the 'Notes' tab**

In [22]:
scraper.dataset.family = 'alcohol'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [23]:
tidy.count()

Period            6149
Age               6149
Sex               6149
Trust             6149
Treatment Type    6149
Measure Type      6149
Value             6149
Unit              6149
dtype: int64

In [24]:
tidy

,Period,Age,Sex,Trust,Treatment Type,Measure Type,Value,Unit
113,government-year/2016-2017,ag3,F,212,alcohol,Count,6.0,non-anon-clients
121,government-year/2014-2015,ag3,F,212,alcohol,Count,6.0,non-anon-clients
129,government-year/2015-2016,ag3,M,213,alcohol,Count,6.0,non-anon-clients
145,government-year/2014-2015,ag3,F,213,alcohol,Count,6.0,non-anon-clients
163,government-year/2015-2016,ag3,F,212,alcohol,Count,7.0,non-anon-clients
173,government-year/2015-2016,ag3,F,213,alcohol,Count,7.0,non-anon-clients
290,government-year/2017-2018,ag3,F,118,alcohol,Count,11.0,non-anon-clients
295,government-year/2017-2018,ag3,F,212,alcohol,Count,11.0,non-anon-clients
305,government-year/2016-2017,ag3,F,213,alcohol,Count,11.0,non-anon-clients
321,government-year/2014-2015,ag3/40-49,M,212,alcohol,Count,7.0,non-anon-clients
323,government-year/2014-2015,ag3,M,212,alcohol,Count,12.0,non-anon-clients
346,government-year/2015-2016,ag3,T,120,alcohol,Count,13.0,non-anon-clients
350,government-year/2015-2016,ag3/50-plus,T,213,alcohol,Count,6.0,non-anon-clients
351,government-year/2015-2016,ag3,T,213,alcohol,Count,13.0,non-anon-clients
360,government-year/2016-2017,ag3/50-plus,M,212,alcohol,Count,7.0,non-anon-clients
361,government-year/2016-2017,ag3,M,212,alcohol,Count,14.0,non-anon-clients
386,government-year/2014-2015,ag3/40-49,F,104,alcohol,Count,5.0,non-anon-clients
387,government-year/2014-2015,ag3/50-plus,F,104,alcohol,Count,7.0,non-anon-clients
388,government-year/2014-2015,ag3,F,104,alcohol,Count,15.0,non-anon-clients
400,government-year/2015-2016,ag3/50-plus,M,212,alcohol,Count,8.0,non-anon-clients
401,government-year/2015-2016,ag3,M,212,alcohol,Count,16.0,non-anon-clients
419,government-year/2013-2014,ag3,F,120,alcohol,Count,17.0,non-anon-clients
420,government-year/2013-2014,ag3/0-29,F,213,alcohol,Count,5.0,non-anon-clients
421,government-year/2013-2014,ag3/40-49,F,213,alcohol,Count,8.0,non-anon-clients
423,government-year/2013-2014,ag3,F,213,alcohol,Count,17.0,non-anon-clients
432,government-year/2014-2015,ag3,T,118,alcohol,Count,18.0,non-anon-clients
434,government-year/2014-2015,ag3/40-49,T,212,alcohol,Count,10.0,non-anon-clients
435,government-year/2014-2015,ag3/50-plus,T,212,alcohol,Count,5.0,non-anon-clients
436,government-year/2014-2015,ag3,T,212,alcohol,Count,18.0,non-anon-clients
486,government-year/2016-2017,ag3/30-39,M,213,alcohol,Count,6.0,non-anon-clients
...,...,...,...,...,...,...,...,...
576,government-year/2014-2015,ag3,T,209,alcohol,Count,762.0,anon-clients
578,government-year/2013-2014,ag3,T,115,alcohol,Count,774.0,anon-clients
579,government-year/2013-2014,ag3,T,210,alcohol,Count,774.0,anon-clients
584,government-year/2013-2014,ag3,T,211,alcohol,Count,821.0,anon-clients
592,government-year/2017-2018,ag3,T,111,alcohol,Count,932.0,anon-clients
593,government-year/2017-2018,ag3,T,205,alcohol,Count,932.0,anon-clients
600,government-year/2013-2014,ag3,T,209,alcohol,Count,1005.0,anon-clients
602,government-year/2013-2014,ag3,T,125,alcohol,Count,1039.0,anon-clients
603,government-year/2016-2017,ag3,T,111,alcohol,Count,1084.0,anon-clients
604,government-year/2016-2017,ag3,T,205,alcohol,Count,1084.0,anon-clients
605,government-year/2015-2016,ag3,T,111,alcohol,Count,1132.0,anon-clients
606,government-year/2015-2016,ag3,T,205,alcohol,Count,1132.0,anon-clients
608,government-year/2014-2015,ag3,T,111,alcohol,Count,1176.0,anon-clients
609,government-year/2014-2015,ag3,T,205,alcohol,Count,1176.0,anon-clients
610,government-year/2013-2014,ag3,T,111,alcohol,Count,1185.0,anon-clients
611,government-year/2013-2014,ag3,T,205,alcohol,Count,1185.0,anon-clients
612,government-year/2014-2015,ag3,T,125,alcohol,Count,1191.0,anon-clients
614,government-year/2015-2016,ag3,T,125,alcohol,Count,1282.0,anon-clients
615,government-year/2017-2018,ag3,T,125,alcohol,Count,1324.0,anon-clients
619,government-year/2016-2017,ag3,T,125,alcohol,Count,1487.0,anon-clients
624,government-year/2013-2014,ag3,T,218,alcohol,Count,1683.0,anon-clients
630,government-year/2014-2015,ag3,T,218,alcohol,Count,1863.0,anon-clients
632,government-year/2015-2016,ag3,T,218,alcohol,Count,1878.0,anon-clients
633,government-year/2017-2018,ag3,T,218,alcohol,Count,1889.0,anon-clients
645,government-year/2016-2017,ag3,T,218,alcohol,Count,2104.0,anon-clients
654,government-year/2017-2018,ag3,T,999,alcohol,Count,4406.0,anon-clients
657,government-year/2016-2017,ag3,T,999,alcohol,Count,5439.0,anon-clients
658,government-year/2015-2016,ag3,T,999,alcohol,Count,5478.0,anon-clients
661,government-year/2014-2015,ag3,T,999,alcohol,Count,6000.0,anon-clients
665,government-year/2013-2014,ag3,T,999,alcohol,Count,7185.0,anon-clients