Table 3 - Number of anonymous completed waits, Alcohol and Drugs, quarter ending 31st March 2016

Anon and Completed Total hidden tables

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('http://www.isdscotland.org/Health-Topics/Drugs-and-Alcohol-Misuse/Publications/')
    scraper.select_dataset(title='National Drug and Alcohol Treatment Waiting Times')
    tabs = scraper.distribution(title='April 2014 - March 2018 Demographic Tables').as_pandas(
        sheet_name=None)

WARNING:Broken link to dataset data-tables2017.asp?id=2370#2370
WARNING:Broken link to dataset data-tables2017.asp?id=1894#1894
WARNING:Broken link to dataset data-tables2017.asp?id=1887#1887
WARNING:Broken link to dataset data-tables.asp?id=1508#1508
WARNING:Broken link to dataset data-tables.asp?id=1386#1386
WARNING:Broken link to dataset data-tables.asp?id=1318#1318
WARNING:Broken link to dataset data-tables.asp?id=1238#1238
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735
WARNING:Broken link to dataset data-tables.asp?id=735#735

In [2]:
observations = tabs['Completed Total'].iloc[:751, :2]

In [3]:
observations

       desc     t1
0    101b11   1549
1    101b12   1217
2    101b21   1369
3    101b31   1575
4    101b41   1363
5    102b11   1106
6    102b12   1031
7    102b21   1207
8    102b31   1397
9    102b41   1425
10   103b11    700
11   103b12    375
12   103b21    638
13   103b31    620
14   103b41    603
15   104b11    527
16   104b12    499
17   104b21    510
18   104b31    520
19   104b41    544
20   106b11    633
21   106b12    468
22   106b21    581
23   106b31    540
24   106b41    608
25   107b11   1323
26   107b12   1259
27   107b21   1323
28   107b31   1336
29   107b41   1174
..      ...    ...
720     d11  14563
721     d12  15029
722     d21  14530
723     d31  15299
724     d41  14855
725  200a11    226
726  200a12    192
727  200a21    181
728  200a31    213
729  200a41    223
730  230a11   3276
731  230a12   2921
732  230a21   3703
733  230a31   3139
734  230a41   2857
735  290a11   2452
736  290a12   2234
737  290a21   2489
738  290a31   2336
739  290a41   2317
740  412a11    219
741  412a12    214
742  412a21    181
743  412a31    250
744  412a41    186
745     a11  24844
746     a12  20637
747     a21  23733
748     a31  22792
749     a41  22480

[750 rows x 2 columns]

In [4]:
observations['Unit'] = 'completed-waits'

In [5]:
observations.dtypes

desc    object
t1       int64
Unit    object
dtype: object

In [6]:
observations1 = tabs['Anon'].iloc[:675, :2]

In [7]:
observations1

       desc     t1
0    101b12      *
1    107b21      *
2    107b31      *
3    133b12      *
4    134b21      *
5    134b41      *
6    135b12      *
7    101d12      *
8    102d12      *
9    107d21      *
10   107d31      *
11   107d41      *
12   118d12      *
13   128d31      *
14   133d11      *
15   133d12      *
16   133d41      *
17   134d11      *
18   134d21      *
19   134d31      *
20   134d41      *
21   135d12      *
22   117a31      *
23   120a12      *
24   133a31      *
25   134a31      *
26   204b21      *
27   204b31      *
28   204d21      *
29   204d31      *
..      ...    ...
643  111b31   2097
644  205b31   2097
645  218a41   2104
646  218b41   2275
647     d21   2309
648     d31   2329
649  999d21   2458
650  999d31   2508
651     d11   2758
652  999d11   3063
653     a12   4219
654  999a12   4406
655     a41   5097
656     a31   5172
657  999a41   5439
658  999a31   5478
659     a21   5714
660     b12   5830
661  999a21   6000
662  999b12   6099
663     a11   6227
664     b41   6962
665  999a11   7185
666     b31   7501
667  999b41   7515
668  999b31   7986
669     b21   8023
670  999b21   8458
671     b11   8985
672  999b11  10248

[673 rows x 2 columns]

In [8]:
observations1.dtypes

desc    object
t1      object
dtype: object

In [9]:
observations['Status'] = 'Total number of completed waits'

In [10]:
observations.head()

     desc    t1             Unit                           Status
0  101b11  1549  completed-waits  Total number of completed waits
1  101b12  1217  completed-waits  Total number of completed waits
2  101b21  1369  completed-waits  Total number of completed waits
3  101b31  1575  completed-waits  Total number of completed waits
4  101b41  1363  completed-waits  Total number of completed waits

In [11]:
observations1.tail()

       desc     t1
668  999b31   7986
669     b21   8023
670  999b21   8458
671     b11   8985
672  999b11  10248

In [12]:
observations1['Status'] = 'Total number of anonymous clients'

In [13]:
observations1['Unit'] = 'anon-clients'

In [14]:
observations1.dtypes

desc      object
t1        object
Status    object
Unit      object
dtype: object

In [15]:
new_table = observations.append(observations1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [16]:
new_table.count()

Status    1423
Unit      1423
desc      1423
t1        1423
dtype: int64

In [17]:
new_table.dtypes

Status    object
Unit      object
desc      object
t1        object
dtype: object

In [18]:
new_table.head()

                            Status             Unit    desc    t1
0  Total number of completed waits  completed-waits  101b11  1549
1  Total number of completed waits  completed-waits  101b12  1217
2  Total number of completed waits  completed-waits  101b21  1369
3  Total number of completed waits  completed-waits  101b31  1575
4  Total number of completed waits  completed-waits  101b41  1363

In [19]:
new_table.dtypes

Status    object
Unit      object
desc      object
t1        object
dtype: object

In [20]:
new_table.columns = ['Value' if x=='t1' else x for x in new_table.columns]

In [21]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [22]:
new_table.dtypes

Status     object
Unit       object
desc       object
Value     float64
dtype: object

In [23]:
# new_table['Value'] = new_table['Value'].astype(int)

In [24]:
new_table.head()

                            Status             Unit    desc   Value
0  Total number of completed waits  completed-waits  101b11  1549.0
1  Total number of completed waits  completed-waits  101b12  1217.0
2  Total number of completed waits  completed-waits  101b21  1369.0
3  Total number of completed waits  completed-waits  101b31  1575.0
4  Total number of completed waits  completed-waits  101b41  1363.0

In [25]:
new_table = new_table[new_table['Value'] != 0 ]

In [26]:
new_table.dtypes

Status     object
Unit       object
desc       object
Value     float64
dtype: object

In [27]:
new_table.head(3)

                            Status             Unit    desc   Value
0  Total number of completed waits  completed-waits  101b11  1549.0
1  Total number of completed waits  completed-waits  101b12  1217.0
2  Total number of completed waits  completed-waits  101b21  1369.0

In [28]:
new_table['Trust'] = new_table['desc'].astype(str).str[0:3]

In [29]:
new_table['Trust'].unique()

array(['101', '102', '103', '104', '106', '107', '108', '110', '111',
       '114', '115', '117', '118', '119', '120', '121', '122', '123',
       '124', '125', '126', '127', '128', '129', '130', '131', '132',
       '133', '134', '135', '202', '203', '204', '205', '206', '207',
       '209', '210', '211', '212', '213', '214', '215', '218', '999',
       '200', '230', '290', '412', 'b11', 'b12', 'b21', 'b31', 'b41',
       'd11', 'd12', 'd21', 'd31', 'd41', 'a11', 'a12', 'a21', 'a31',
       'a41'], dtype=object)

In [30]:
new_table['Client'] = new_table['desc'].astype(str).str[3:4]

In [31]:
new_table['Client'].unique()

array(['b', 'd', 'a', ''], dtype=object)

In [32]:
new_table['Period'] = new_table['desc'].astype(str).str[4:6]

In [33]:
new_table['Period'].unique()

array(['11', '12', '21', '31', '41', ''], dtype=object)

In [34]:
new_table['Sex'] = 'T'

In [35]:
new_table = new_table[new_table['Period'] != '' ]

In [36]:
new_table['Client'] = new_table['Client'].map(
    lambda x: {
        'a' : 'Alcohol', 
        'b' : 'Alcohol and Drugs',
        'd' : 'Drugs'
        }.get(x, x))

In [37]:
new_table['Period'] = new_table['Period'].map(
    lambda x: {
        '11' : '31st March 2014', 
        '21' : '31st March 2015',
        '31' : '31st March 2016',
        '41' : '31st March 2017',
        '12' :  '31st March 2018'
        }.get(x, x))

In [38]:
new_table['Trust'].unique()

array(['101', '102', '103', '104', '106', '107', '108', '110', '111',
       '114', '115', '117', '118', '119', '120', '121', '122', '123',
       '124', '125', '126', '127', '128', '129', '130', '131', '132',
       '133', '134', '135', '202', '203', '204', '205', '206', '207',
       '209', '210', '211', '212', '213', '214', '215', '218', '999',
       '200', '230', '290', '412'], dtype=object)

In [39]:
new_table.head(1)

,Status,Unit,desc,Value,Trust,Client,Period,Sex
0,Total number of completed waits,completed-waits,101b11,1549.0,101,Alcohol and Drugs,31st March 2014,T

In [40]:
new_table['Age'] = 'AGAll'

In [41]:
new_table['Measure Type'] = 'Count'

In [42]:
new_table = new_table[['Period','Age','Sex','Trust','Client','Status','Measure Type','Value','Unit']]

In [43]:
new_table.drop_duplicates(inplace = True)

In [44]:
if is_interactive():
    from pathlib import Path
    destinationFolder = Path('out')
    destinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(destinationFolder / ('table3.csv'), index = False)

In [45]:
new_table

,Period,Age,Sex,Trust,Client,Status,Measure Type,Value,Unit
0,31st March 2014,AGAll,T,101,Alcohol and Drugs,Total number of completed waits,Count,1549.0,completed-waits
1,31st March 2018,AGAll,T,101,Alcohol and Drugs,Total number of completed waits,Count,1217.0,completed-waits
2,31st March 2015,AGAll,T,101,Alcohol and Drugs,Total number of completed waits,Count,1369.0,completed-waits
3,31st March 2016,AGAll,T,101,Alcohol and Drugs,Total number of completed waits,Count,1575.0,completed-waits
4,31st March 2017,AGAll,T,101,Alcohol and Drugs,Total number of completed waits,Count,1363.0,completed-waits
5,31st March 2014,AGAll,T,102,Alcohol and Drugs,Total number of completed waits,Count,1106.0,completed-waits
6,31st March 2018,AGAll,T,102,Alcohol and Drugs,Total number of completed waits,Count,1031.0,completed-waits
7,31st March 2015,AGAll,T,102,Alcohol and Drugs,Total number of completed waits,Count,1207.0,completed-waits
8,31st March 2016,AGAll,T,102,Alcohol and Drugs,Total number of completed waits,Count,1397.0,completed-waits
9,31st March 2017,AGAll,T,102,Alcohol and Drugs,Total number of completed waits,Count,1425.0,completed-waits
10,31st March 2014,AGAll,T,103,Alcohol and Drugs,Total number of completed waits,Count,700.0,completed-waits
11,31st March 2018,AGAll,T,103,Alcohol and Drugs,Total number of completed waits,Count,375.0,completed-waits
12,31st March 2015,AGAll,T,103,Alcohol and Drugs,Total number of completed waits,Count,638.0,completed-waits
13,31st March 2016,AGAll,T,103,Alcohol and Drugs,Total number of completed waits,Count,620.0,completed-waits
14,31st March 2017,AGAll,T,103,Alcohol and Drugs,Total number of completed waits,Count,603.0,completed-waits
15,31st March 2014,AGAll,T,104,Alcohol and Drugs,Total number of completed waits,Count,527.0,completed-waits
16,31st March 2018,AGAll,T,104,Alcohol and Drugs,Total number of completed waits,Count,499.0,completed-waits
17,31st March 2015,AGAll,T,104,Alcohol and Drugs,Total number of completed waits,Count,510.0,completed-waits
18,31st March 2016,AGAll,T,104,Alcohol and Drugs,Total number of completed waits,Count,520.0,completed-waits
19,31st March 2017,AGAll,T,104,Alcohol and Drugs,Total number of completed waits,Count,544.0,completed-waits
20,31st March 2014,AGAll,T,106,Alcohol and Drugs,Total number of completed waits,Count,633.0,completed-waits
21,31st March 2018,AGAll,T,106,Alcohol and Drugs,Total number of completed waits,Count,468.0,completed-waits
22,31st March 2015,AGAll,T,106,Alcohol and Drugs,Total number of completed waits,Count,581.0,completed-waits
23,31st March 2016,AGAll,T,106,Alcohol and Drugs,Total number of completed waits,Count,540.0,completed-waits
24,31st March 2017,AGAll,T,106,Alcohol and Drugs,Total number of completed waits,Count,608.0,completed-waits
25,31st March 2014,AGAll,T,107,Alcohol and Drugs,Total number of completed waits,Count,1323.0,completed-waits
26,31st March 2018,AGAll,T,107,Alcohol and Drugs,Total number of completed waits,Count,1259.0,completed-waits
27,31st March 2015,AGAll,T,107,Alcohol and Drugs,Total number of completed waits,Count,1323.0,completed-waits
28,31st March 2016,AGAll,T,107,Alcohol and Drugs,Total number of completed waits,Count,1336.0,completed-waits
29,31st March 2017,AGAll,T,107,Alcohol and Drugs,Total number of completed waits,Count,1174.0,completed-waits
...,...,...,...,...,...,...,...,...,...
629,31st March 2014,AGAll,T,205,Alcohol and Drugs,Total number of anonymous clients,Count,1762.0,anon-clients
630,31st March 2015,AGAll,T,218,Alcohol,Total number of anonymous clients,Count,1863.0,anon-clients
632,31st March 2016,AGAll,T,218,Alcohol,Total number of anonymous clients,Count,1878.0,anon-clients
633,31st March 2018,AGAll,T,218,Alcohol,Total number of anonymous clients,Count,1889.0,anon-clients
634,31st March 2017,AGAll,T,111,Alcohol and Drugs,Total number of anonymous clients,Count,1896.0,anon-clients
635,31st March 2017,AGAll,T,205,Alcohol and Drugs,Total number of anonymous clients,Count,1896.0,anon-clients
636,31st March 2015,AGAll,T,111,Alcohol and Drugs,Total number of anonymous clients,Count,2022.0,anon-clients
637,31st March 2015,AGAll,T,205,Alcohol and Drugs,Total number of anonymous clients,Count,2022.0,anon-clients
638,31st March 2018,AGAll,T,218,Alcohol and Drugs,Total number of anonymous clients,Count,2058.0,anon-clients
639,31st March 2015,AGAll,T,218,Alcohol and Drugs,Total number of anonymous clients,Count,2065.0,anon-clients
640,31st March 2017,AGAll,T,999,Drugs,Total number of anonymous clients,Count,2076.0,anon-clients
641,31st March 2016,AGAll,T,218,Alcohol and Drugs,Total number of anonymous clients,Count,2083.0,anon-clients
642,31st March 2014,AGAll,T,218,Alcohol and Drugs,Total number of anonymous clients,Count,2093.0,anon-clients
643,31st March 2016,AGAll,T,111,Alcohol and Drugs,Total number of anonymous clients,Count,2097.0,anon-clients
644,31st March 2016,AGAll,T,205,Alcohol and Drugs,Total number of anonymous clients,Count,2097.0,anon-clients
645,31st March 2017,AGAll,T,218,Alcohol,Total number of anonymous clients,Count,2104.0,anon-clients
646,31st March 2017,AGAll,T,218,Alcohol and Drugs,Total number of anonymous clients,Count,2275.0,anon-clients
649,31st March 2015,AGAll,T,999,Drugs,Total number of anonymous clients,Count,2458.0,anon-clients
650,31st March 2016,AGAll,T,999,Drugs,Total number of anonymous clients,Count,2508.0,anon-clients
652,31st March 2014,AGAll,T,999,Drugs,Total number of anonymous clients,Count,3063.0,anon-clients
654,31st March 2018,AGAll,T,999,Alcohol,Total number of anonymous clients,Count,4406.0,anon-clients
657,31st March 2017,AGAll,T,999,Alcohol,Total number of anonymous clients,Count,5439.0,anon-clients
658,31st March 2016,AGAll,T,999,Alcohol,Total number of anonymous clients,Count,5478.0,anon-clients
661,31st March 2015,AGAll,T,999,Alcohol,Total number of anonymous clients,Count,6000.0,anon-clients
662,31st March 2018,AGAll,T,999,Alcohol and Drugs,Total number of anonymous clients,Count,6099.0,anon-clients
665,31st March 2014,AGAll,T,999,Alcohol,Total number of anonymous clients,Count,7185.0,anon-clients
667,31st March 2017,AGAll,T,999,Alcohol and Drugs,Total number of anonymous clients,Count,7515.0,anon-clients
668,31st March 2016,AGAll,T,999,Alcohol and Drugs,Total number of anonymous clients,Count,7986.0,anon-clients
670,31st March 2015,AGAll,T,999,Alcohol and Drugs,Total number of anonymous clients,Count,8458.0,anon-clients
672,31st March 2014,AGAll,T,999,Alcohol and Drugs,Total number of anonymous clients,Count,10248.0,anon-clients